body{
    
    background-color:rgb(235, 230, 230);
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1.2fr 7fr 1.2fr;
    background-color:#5B1724;
}
.img1-container{
    width:100%;
}
img{
    width: 100%;
    height:100%;

}
.img2-container{
    width:100%;

}
.tittle{
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;

}

.target-main{
    width:100%;
    display: flex;
    justify-content: center;

}
.target{
    text-align: center;
    margin: 24px;
    border-radius:1mm;
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: 1mm;
    background-image: linear-gradient( 100deg, #5B1724 15%, #2e0c13 100%);
    border:none;
    cursor: pointer;
    margin-top: 15px;
    width: 150px;
    height: 40px;

}
.target-matricula{
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}